@import "tailwindcss";

.flex-center {
  @apply flex justify-center items-center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  /* First Batch */
  --main-bg: #151617;
  --secondary-bg-color: #11212d;
  --secondary-bg-color-2: #253745;
  --hover-bg-color: #4a5c6a;
  --gray-text-color: #ccd0cf;
  --secondary-white-color: #9babab;
  --white-text-color: #eaeaea;

  --highlight-1: #17d5df;
  --primary-color: #6da5c0;

  --nav-height: 5rem;
  --light-border-color: #91908fa6;
  --border--color: #ffffffbc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: var(--main-bg);
  /* color: rgb(var(--foreground-rgb)); */
  width: 100vw;
  overflow-x: hidden;
  /* font-family: "Raleway", sans-serif; */
  font-optical-sizing: auto;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* Use As Want to use */
}

.hero-section {
  background: url("./assets/img/bg/bg.jpg") repeat;
  background-size: 50%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgba(32, 30, 30, 0.16);
    z-index: -1;
    backdrop-filter: blur(6px);
  }

  h1 {
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 0 0 10px black;
  }
}

.play-btn {
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
  background: rgb(2, 0, 36);
  transition: all 0.3s ease-in-out;
  animation: Animation 5s ease-in-out infinite;
  background: -moz-linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 14, 128, 1) 29%,
    rgba(148, 15, 49, 1) 70%,
    rgba(91, 8, 21, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 14, 128, 1) 29%,
    rgba(148, 15, 49, 1) 70%,
    rgba(91, 8, 21, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 14, 128, 1) 29%,
    rgba(148, 15, 49, 1) 70%,
    rgba(91, 8, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#5b0815",GradientType=1);
}

.mode-btn {
  cursor: pointer;
  margin: 0 1rem;
  aspect-ratio: 4/2;
  /* width: 100%; */
  height: 4rem;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8901960784);
  position: relative;
}

.mode-btn::before {
  content: "  ";
  width: 2.5rem;
  height: 3.8rem;
  position: absolute;
  margin-left: 14px;
  border-radius: 10px;
  z-index: 0;
  opacity: 0.3;
  transition: all 0.18s ease-in, transform 0.4s ease;
}

.mode-btn:hover::before {
  opacity: 1;
}

.mode-btn .mode-text {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(56rem) saturate(200%);
  -webkit-backdrop-filter: blur(1.56rem) saturate(200%);
  backdrop-filter: blur(1.56rem) saturate(200%);
  border-radius: 15px;
  background: rgba(37, 37, 38, 0.63);
  position: relative;

  transition: background 0.11s ease-in;
  padding: 0 2rem;
  box-shadow: 0 0 6px 0px #00000078;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 4px black;
}

.mode-btn .mode-text:hover {
  background: rgba(31, 31, 37, 0.3215686275);
}

@keyframes Animation {
  0% {
    background: linear-gradient(
      deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(14, 14, 128, 1) 29%,
      rgba(148, 15, 49, 1) 70%,
      rgba(91, 8, 21, 1) 100%
    );
  }
  50% {
    background: linear-gradient(
      145deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(14, 14, 128, 1) 29%,
      rgba(148, 15, 49, 1) 70%,
      rgba(91, 8, 21, 1) 100%
    );
  }
  75% {
    background: linear-gradient(
      300deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(14, 14, 128, 1) 29%,
      rgba(148, 15, 49, 1) 70%,
      rgba(91, 8, 21, 1) 100%
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(14, 14, 128, 1) 29%,
      rgba(148, 15, 49, 1) 70%,
      rgba(91, 8, 21, 1) 100%
    );
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
      font-size: 2.5rem;
    }
  }

  .mode-btn {
    margin: 0;
    aspect-ratio: 3/2;
    height: 3.5rem;
  }

  .mode-btn::before {
    width: 2rem;
    height: 3.2rem;
    margin-left: 10px;
  }

  .mode-btn .mode-text {
    font-size: 16px;
  }
}
