/* color palette from <https://github.com/vuejs/theme> */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #0c0c0c;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(27, 27, 27, 0.657);
  --vt-c-divider-light-2: rgba(23, 23, 23, 0.88);
  --vt-c-divider-dark-1: rgba(255, 255, 255, 0.65);
  --vt-c-divider-dark-2: rgba(253, 253, 253, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
   --muted-foreground: 215.4 16.3% 46.9%;

  --nav-btn-bg: var(--vt-c-black);
  --section-gap: 160px;
  --nav-height: 5rem;
  --sidenav-bg:rgba(238, 235, 235, 0.65)
  --text-color: var(--vt-c-black);
  --color-highLight: #ee2324;
  --svg-bg-color: #e4e3e3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
 --muted-foreground: 215 20.2% 65.1%;
    --nav-btn-bg: var(--vt-c-white);
    --sidenav-bg:: rgba(189, 189, 189, 0.04);
    /* --sidenav-bg:rgba(34, 34, 36, 0.65); */
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);

    --text-color: var(var(--vt-c-white));
    --svg-bg-color: #474747;
    --color-highLight0: #fa1e1e;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;

  min-width: 320px;
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
